@font-face {
  font-family: "Cursed Timer ULiL";
  src: url("CursedTimerUlil-Aznm.ttf");
}

body {
    margin: 0;
    background-color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 575px;
    margin: 0 auto;
    border-radius: 10px;
    border: white solid 5px;
    margin-top: 20px;
    padding-bottom: 40px;
}

.title {
    color: #EEEEEE;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.counter {
    background-color: #080001;
    color: #F94F6D;
    font-size: 90px;
    text-align: center;
    border-radius: 5px;
    font-family: Cursed Timer ULiL;
    padding-top: 20px;
    width: 155px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: transparent;
    border: #9AABD8 solid 1px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Cursed Timer ULiL;
    color: #9AABD8;
    padding: 6px 10px;
}